body {
    background: #222d32;
}

.main-header .logo,
.main-sidebar{
    width: 290px;
    padding-left:0;
    padding-right: 0;
}

.main-header .navbar,
.content-wrapper,
.main-footer{
    margin-left: 290px;
}

.img-logo{
    width: 100px;
    margin: 0 auto;
}

.img-logo-admin{
    width: 50px;
    float:left;
}

@media (max-width: 767px) {
    .main-header .logo
    {
        width: 100%;
    }

    .main-sidebar{
        width: 230px;
    }

    .main-header .navbar,
    .content-wrapper,
    .main-footer{
        margin-left: 0;
    }
}
